@import './app.colors.scss';
@use 'sass:color';
@use 'sass:meta';

@mixin textTool (){// [textTool Start]
  &.color-error {
    color:var(--error-color);
  }
  &.color-warning {
    color:var(--warnning-color);
  }
  &.color-success {
    color:var(--successful-color);
  }
  &.color-emphasis,.color-emphasis{
    background-attachment: fixed;
    color:transparent; background-size:100%;
    background: var(--gradient-text-color);
    background-clip: text;
    @media  (-ms-high-contrast:none), (-ms-high-contrast:active){
      &{
        color:white;
        border-radius: 0.2em; padding:0.1em;
        background: linear-gradient(45deg, #1f6f4f,#3f6faf,#af9fdf);
        text-shadow: 1px 1px 1px #000;
      }
    }
  }
  &.wide-margin p{
    margin:1em 0;
  }
  .text-icon{
    &:before{
      font-size:0.8em;
      vertical-align: middle;
      line-height: 1;
    }
  }
  .block,&.block{
    display:block;
  }
  .center,&.center{
    text-align: center;
  }
  .bold,&.bold{
    font-weight: bold;
  }
  .text,&.text{
    &.large{
      font-weight:700;
      font-size:1.8em;
    }
    &.middle{
      font-weight: bold;
      font-size:1.3em;
    }
    &.small{
      font-weight:normal;
      font-size:1em;
    }
    &.smaller{
      font-size:0.5em;
    }
  }
}//[textTool End]

@mixin drawing {//[Drawing Global Start]
  
  html,body,.page-wrapper{
    background-color: var(--main-body);
    color: var(--main-foreground);
  }
  ul{display:block; list-style: none;}
  p,div,section,article,aside,li,a,span{
    @include textTool();
  }
  nav li{
    margin:0;
    &::before{
      display: none;
    }
  }
  main ul.pretty-ul{
    width:100%;
    li{
      display: grid;
      margin:1em 0;
      width:100%;
      line-height: 140%;
      grid-template-columns: 1em auto;
      -ms-grid-columns: 1em auto;
      flex:1;
      span.li-text{
        display:block;
        -ms-grid-column: 2;
        justify-self: flex-start;
      }
      span.li-bullet::before{
        content:"-";
        margin-right:0.4em;
        grid-column: 1;
        -ms-grid-column: 1;
        justify-self: flex-start;
      }
    }
  }

  aside{
    border-radius: 0.5em;
    &.type{
      padding:0.2em;
    }
    &.info{
      background-color: var(--aside-info);
      @media (-ms-high-contrast:active),(forced-colors:active){
        &{
          border:solid 0.1em;
          h1:nth-child(1),
          h2:nth-child(1),
          h3:nth-child(1),
          h4:nth-child(1),
          h5:nth-child(1),
          h6:nth-child(1){
              border-bottom:solid 0.05em;
          }
        }
      }
    }
  }

  .suggest_modern_browser{
    background: #3b5998;
    color:white;
  }


  .layout-middle-wrapper{
    a{
      text-decoration: none;
    }
    a:visited{
      color:var(--visited-link-color);
    }a:link{
      color:var(--available-link-color);
    }a[aria-current=page]{
      font-weight: 700;
      &::before{
        content:"\ecd5";
        font-family: 'icomoon' !important;
        margin:0 0.2rem;
      }
    }

    div.accordion-content-box{
      margin:1em 0;
      section.accordion-section{
        margin:0; padding:0.5em;
        border:solid 1px;
        border-top-right-radius: 1em;
      }
    }
    input{
      font-size: 1em;
      background-color: var(--main-body);
      color: var(--main-foreground);
      border: solid 1px;
      display: inline-block;
      &::placeholder{
        font-size:0.8em;
      }
    }
    button.fency-button{
      position: relative;
      border:solid 2px;
      background:var(--accent-body);
      color:#fff;
      box-shadow:
      inset 0 0 0 0.05rem #000,
      0 0 0 0.05rem #000;
      padding:0.3em 0.2em;
      .state-symbol{
        font-size:0.8em;
      }
      &:disabled{
        opacity: 0.6;
      }
      &.nvda-kr-accordion{
        display:inline-grid; text-align: center;
        width:60%;
        margin-bottom:0.5em;
        grid-template-columns: minmax(1em,1fr) minmax(1em,4em);
        grid-auto-rows: 1fr;
        .slot-button-text{
          text-align: left;
          grid-column: 1;
          text-align: center;
        }
        .state-symbol{
          grid-column: 2;
          grid-row:auto;
          text-align: center;
          justify-self: center;
          align-self: center;
        }
        @media screen and (max-width:1024px){
          &{
            width:100%;
          }
        }
      }

      &.size-large{
        font-size:1.4em;
      }
      &.size-normal{
        font-size:1em;
      }
      &.size-small{
        font-size:0.8em;
      }
      &.round-circle{
        border-radius: 50%;
      }
      &.round-large{
        border-radius: 0.8em;
      }
      &.round-normal{
        border-radius: 0.4em;
      }
      &.round-little{
        border-radius: 0.2em;
      }
    }

    table{
      border-collapse: collapse;
      box-shadow:0 0 0 0.01rem #000;
      &.normal-style{
        width:100%;
        font-size:0.9em;
      }
      &.color-table.default{
        thead tr:nth-child(1) th, tbody tr:nth-child(1) th{
          background:var(--table-row-header);
          color:white;
        }
        tbody{
          background:var(--main-body);
          color:var(--main-foreground);
          tr:not(:first-child){
            th:first-child{
              color:white;
              background: var(--table-col-header);
            }
          }
          th,td{
            border-color:white;
            box-shadow:
            inset 0 0 0 0.01rem #000,
            0 0 0 0.01rem #000;
          }
        }
      }
      &.non-color-table{
        td,th,table,thead,tbody,tfoot,caption{
          background: transparent;
        }
      }
      th,td{
        border:solid 1px;
      }
      td{padding:0.2em;}

      &.sys-req{
        col.first{width:25%;}
        col.second{width:auto;}
        .column-header th{
          font-size:1.2em;
          padding:0.5em 0;
        }
      }

      @media screen and (max-width:1024px) {
        &.normal-style{
          width:100%;
        }
        &.sys-req{
          col.first{width:25%;}
          col.second{width:auto;}
        }
      }
    }
    a.region-shuttle-link{
      color:white;
      display:grid;
      width:2em; height:2em;
      border:solid 0.1em;
      border-radius: 50%;
      background-color: var(--accent-body);
      justify-items: center;
      align-items: center;
    }
    a.button-style{
      display:block;
      &.facebook {
        background-color:#3b5998; color:#fff;
        padding:0.2em 1em;
        width:fit-content;
        border-radius: 0.2em;
        margin:0 auto;
        font-family: 'klavika_boldbold';
      }
      &.download{
        color:white; padding:0.2em;
        display:flex;
        margin:0.2em 0;
        &.nvaccess{
          background-color:#ff7a00;
        }
        &.wellbook{
          background-color:#36bfaf;
        }
        .logo.nvaccess{
          display:inline-block;
          width:1.4em; height:1.4em;
          vertical-align: middle;
          background:
            url('../img/nvaccess.png'),
            #fff;
          background-size:cover;
          border-radius: 50%;
          margin-right:0.2em;
        }
        &:hover,&:focus{
          filter:brightness(1.2);
        }
        .icon-nvda{
          width:1em;
          height: 1em;
          display: flex;
          font-size:2.5em;
          align-self: center;
          justify-self: center;
          justify-content: center;
          text-align: center;
          background-color:var(--accent-body);
          &:before{
            align-self:center;
          }          
        }

        @media screen and (min-width:1024px){
          &{
            width:60%;
          }
          .icon-nvda{
            font-size:4em;
          }
        }
        .text-content{
          flex:1;
          text-shadow: 1px 0 1px #000;
          transition:text-shadow 0.3s;
          &:hover,&:focus{
            text-shadow: 
            1px 0 2px #000,
            2px 0 2px #000
            ;
          }
        }
      }
      @include textTool();
    }

    .version-downloader{
      @media (-ms-high-contrast:none), (-ms-high-contrast:active){
        display: none;
      }
      .downloader-form{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 1fr;
        justify-items: stretch;
        text-align: center;
        #validation-announcer{
          width:100%;
          grid-row:3;
          grid-column: 1 / span 2;
        }
        @media (max-width:1024px) {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-template-rows: auto auto 1fr;
          [for="version-downloader"]{
            display: inline-block; width:100%;
          }
          #version-downloader{
            width:100%;
          }
          #submit_version_input{
            width:100%;
            grid-row: 2;
            grid-column:1 / span 2;
          }
          #validation-announcer{
            width:100%;
            grid-row:3;
            grid-column: 1 / span 2;
          }
        }
      }
    }

    .icon{
      vertical-align: text-top;
      margin:0 0.2em;
      &.icon-IE,&.icon-edge{
        font-size:1.1em;
        padding:0.1em;
      }
    }

    .browserLinkList{
      display: flex;
      font-size:1.5em;
      color: white;
      li{
        display: inline-flex;
        width:1.2em; height:1.2em;
        background-color: #000;
        margin:0.1em; border-radius: 50%;
        justify-content: center;
        align-items: center;
      }
      a{
        border-radius: 50%;
        &.icon-chrome{
          color:gold;
        }
        &.icon-firefox{
          color:#ff7a00;
        }
      }
    }

    h1,h2,h3,h4,h5,h6,p,img,a,table,ul,ol,aside.info,span,button,input,textarea,select{
      animation: Appearance 0.4s 1 linear;
      @media (prefers-reduced-motion:reduce){
        animation:none;
      }
    }
    @keyframes Appearance {
      from {
        opacity: 0.2;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  .layout-bar.common-tops{
    background-color: var(--accent-body);
    color:white;
    ul{
      list-style: none;
    }
    a{
      color:white;
      text-decoration: none;
      font-weight: 700;
    }
    nav ul a:not([aria-current=page]){
      border-style:solid;
      border-width:0.1rem;
      border-top-color:rgba(255,255,255, 0.5);
      border-bottom-color:rgba(0,0,0, 0.4);
      border-left-color:rgba(255,255,255, 0.2);
      border-right-color: rgba(255,255,255, 0.2);

    }
    nav ul a[aria-current=page]{
      box-shadow: inset 0 1px 0.2rem 0.01rem #000;
      background-color: rgba(0,0,0,0.3);
    }

  }

  .layout-bar.common-bottoms{
    footer{background-color:#200f3f;
    color:white;}
  }
}//[Drawing Global End]

@media (forced-colors:active),(-ms-high-contrast:active){
  *{
    background-color:transparent;
  }
  .layout-bar.common-tops a:not([aria-current="page"]){
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
    color:CanvasText;
  }

  .layout-bar.common-tops a[aria-current="page"]{
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
    border:solid 0.1em !important;
  }


  .layout-bar{
    &.common-tops{
      border-bottom:solid 0.1em;
    }
    &.common-tops nav{
      border-top: solid 0.1em;
    }
    &.common-bottoms{
      border-top:solid 0.1em;
      border-bottom:solid 0.1em;
    }
  }

  main nav a:any-link{
    text-decoration: underline;
  }

  a.button-style{
    border:solid 0.15em;
  }

  .download .icon-nvda{forced-color-adjust: none;
    background-color:var(--accent-body);
  }
}