@import './app.colors.scss';
@import '../fonts/iconmoon_set/style.css';

html,body,.page-wrapper{
  background-color: var(--main-body);
  color: var(--main-forgrounds);
}

.page-wrapper{
  width:100%; height:100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-auto-flow: column;
}

.layout-bar.common-tops{
  grid-column: 1 / span 2; grid-row: 1;
  background-color: var(--accent-body);
  color:white;
}

.layout-bar.common-tops header{
  display: flex; height:100%;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.layout-bar.common-bottoms {
  grid-column: 1 / span 2;
  grid-row: 3;
}

@media screen and (min-width:1024px) {

}/*Tablet and low resolution*/