@import '../fonts/iconmoon_set/style.css';
@import "app.drawing.scss";
@use "drawing";

@include drawing;

.page-wrapper{
  width:100%; height:100%;
  display: grid;
  position: relative;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(auto,1fr) 12fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
  gap:1.7rem;

  @media (-ms-high-contrast:active),(-ms-high-contrast:none){
    &{
      width:100%; min-height:100vh; max-height: auto; height: auto;
      -ms-grid-rows: auto 1fr auto;
      .layout-bar.common-tops{
        -ms-grid-row:1 / 2;
      }
      .layout-bar.common-tops .header-navigation{
        height:100px;
      }
      .layout-middle-wrapper{
        min-height:80vh;
        height:auto;
        -ms-grid-row:2 / 3;
        main{
          height:100%;
        }
        nav{margin:1em 0;}
      }
      .layout-bar.common-bottoms{
        -ms-grid-row: 3 / 4;
      }
    }
  }
}

.floating-area{
  pointer-events: none;
  &.skipNav{
    display: flex;
    position:relative;
    width:100%;
    grid-column: 1 / span 3;
    grid-row:1;
    height:1.5em;
    z-index: 0;
    background-color: #000;
    transition: margin 0.1s ease-in-out;
    &.out{
      grid-row:1;
      margin-top:-3em;
      overflow: hidden;
    }
    a{
      color:#fff;
      text-decoration: none;
    }
  }
  &.absolute{
    position: absolute;
    z-index: 999;
  }
  &.fixed{
    position:fixed;
    z-index: 999;
  }
  &.sticky{
    position:sticky;
    z-index: 999;
  }
  .top,.left,.bottom,.right{
    transition: 
      left 0.3s,
      right 0.3s,
      top 0.3s,
      bottom 0.3s;
  }

  &.top.margin{margin-top:5%;}
  &.bottom.margin{margin-bottom:5%;}

  &.top{top:0;}&.bottom{bottom:0;}&.left{left:0;}&.right{right:0;}
  &.top.out{top:-100%;}&.bottom.out{bottom:-100%;}
  &.left.out{left:-100%;}&.right.out{right:-100%;}
  button,a{
    pointer-events: all;
  }
}

p{margin:1em 0;
  line-height: 140%;}
.layout-bar.common-tops{
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
  transition:padding 0.1s ease-in-out;
  &.skip-shown {
    padding-top:1.5em;
  }
}

article,section,aside{
  padding:0.2em;
  margin:0.8em 0;
}

.layout-bar.common-tops header{
  display: flex;
   height:100%;
  flex-flow: column;

}
.layout-bar.common-tops .header-title{
  width:100%; padding-bottom:0.4em;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}
.layout-bar.common-tops .header-navigation{
  display: flex;
  width:100%; flex-flow:column;
  nav{flex:1; height:100%;
     margin-top:1.5%;
    display: flex;}
  nav ul{display: flex;}
  nav ul li{width:15vw;
     height:100%; text-align: center;}
  li a{
      font-size:1em;
      width:100%; height:100%; display:flex;
      place-content: center;
      align-items: center;
  }
}

.layout-middle-wrapper{
  grid-row:2;
  grid-column: 1 / span 3;
  width:100%; height:100%;
  font-size:1.6em; width:95%;
  margin:0 auto;
}

.layout-bar.common-bottoms {
  grid-column: 1 / span 3;
  display:flex;
  height:8vh;
  position:relative;
  footer{
    width:100%;
    height:100%;
    display: flex;
    align-self: flex-end;
    align-items:center;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width:1024px) {
  html,body{
    font-size:0.75em;
  }

  p{
    margin:0.5em 0;
    line-height: 130%;
  }

  .layout-bar.common-tops{
    .header-navigation {
      nav ul>li{
        width:25vw;
      }
      li a{
        font-size:1.7em;
      }
    }
  }
}/*mobile and low resolution*/